@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Kameron:wght@400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

li {
  list-style: none;
}

ul {
  list-style: none;
}

header div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  height: auto;
  background-color: #000000;
}
header div h1 {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 10px;
  padding: 0.5em;
  border: none;
  border-radius: 1px;
  text-align: center;
  font-family: "Playfair Display SC", serif;
}
header div h1 a {
  color: rgb(255, 255, 255);
}
header div div {
  width: 9.375rem;
  height: 3.75rem;
}
header div div section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 100%;
}
header div div section a {
  width: 2.1875rem;
  height: 2.1875rem;
}
header div div section a img {
  width: 100%;
  height: 100%;
}
header div div section:last-child {
  margin-left: -0.4375rem;
}
header .enlacesNav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  background-color: rgba(136, 136, 121, 0.7411764706);
  margin: 0rem;
  padding: 10px;
}
header .enlacesNav li a {
  font-family: "inika", sans-serif;
  font-size: 1.25rem;
  color: #000000;
}
header .enlacesNav li:hover {
  transform: scale(1.3);
  transition: 1s;
}
header .btn-nav {
  display: none;
}

.marcasHome {
  height: auto;
  width: 96%;
  margin-top: 0.625rem;
  background-color: #000000;
  border-radius: 0.75rem;
}
.marcasHome h2 {
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 2.5em;
  font-weight: 300;
  margin: 0.625rem 0rem 0rem 0rem;
  color: white;
}
.marcasHome div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 0.625rem;
}
.marcasHome div i {
  font-size: 1.5em;
  color: #fffefe;
}
.marcasHome div img {
  width: 200px;
  height: auto;
  margin: 0px;
  padding: 10px;
  border: none;
  border-radius: 0px;
  flex-grow: 1;
  object-fit: cover;
}

.bannerHome {
  height: auto;
  margin-top: 0.625rem;
}
.bannerHome img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.promocionesHome {
  width: auto;
  height: auto;
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 0.75rem;
  background-color: #000000;
}
.promocionesHome h2 {
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 2.5em;
  margin: 0.625rem 0rem;
}
.promocionesHome h2 a {
  color: rgb(251, 249, 249);
}
.promocionesHome div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 10px;
}
.promocionesHome div i {
  font-size: 1.5em;
  color: #ffffff;
}
.promocionesHome div article {
  width: 18.75rem;
  height: auto;
}
.promocionesHome div article figure {
  margin: 0;
}
.promocionesHome div article figure img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.promocionesHome div article .boxPromoHome {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
  position: relative;
  height: 1.25rem;
  padding: 0.625rem;
  background-color: #000000;
}
.promocionesHome div article .boxPromoHome h3 {
  font-family: "Mulish", sans-serif;
  position: absolute;
  left: 0%;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0rem 0rem 0rem 0.125rem;
  color: #fafafa;
}
.promocionesHome div article .boxPromoHome p {
  position: absolute;
  right: 0%;
  font-family: "Mulish", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0rem 0.125rem 0rem 0rem;
  color: #fafafa;
}

footer {
  height: 20rem;
  margin-top: auto;
  background-color: rgb(0, 0, 0);
}
footer h2 {
  text-align: center;
  font-family: "Inika", serif;
  font-size: 2.5em;
  font-weight: 300;
  margin-top: 0.0625rem;
  margin-bottom: 0.625rem;
  color: white;
}
footer section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
footer section .boxFooter, footer section .boxFooterActive {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
footer section .boxFooter svg, footer section .boxFooterActive svg {
  margin-top: 0.625rem;
  color: white;
}
footer section .boxFooter h3, footer section .boxFooterActive h3 {
  font-family: "Inika", serif;
  margin: 0.625rem 0.125rem;
  font-size: 1.5em;
  font-weight: 300;
  color: white;
  width: 100%;
}
footer section .boxFooter p, footer section .boxFooterActive p {
  font-family: "Inika", serif;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0.625rem 0.125rem;
  color: white;
  width: 100%;
}
footer section .boxFooterActive svg {
  margin-top: 0.625rem;
}
footer section .boxFooterActive h3 {
  font-family: "Inika", serif;
  margin: 2.1875rem 0.125rem;
  font-size: 1.5em;
  font-weight: 300;
  color: white;
}
footer h4 {
  color: white;
  text-align: center;
  font-family: "Inika", serif;
  font-size: 1.875rem;
  font-weight: 300;
  margin-top: 0.625rem;
  padding: 10px;
}

.mainCatalogo {
  margin-top: 1em;
}
.mainCatalogo .boxCatalogo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  margin-bottom: 0.9375rem;
}

.boxContacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 1rem;
  height: 100%;
  width: 100%;
  background-color: #000000;
  overflow: hidden;
}
.boxContacto div {
  height: 100%;
}
.boxContacto div img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.boxContacto .boxFormContacto form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: rgb(255, 255, 255);
  height: 100%;
  margin-top: 0.9375rem;
}
.boxContacto .boxFormContacto form h2 {
  width: 600px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Kameron", sans-serif;
}
.boxContacto .boxFormContacto form input {
  width: 500px;
  height: 40px;
  margin: 10px 0px;
  padding: 15px 0px;
  border: none;
  border-radius: 5px;
  font-family: "inika", sans-serif;
  color: #000000;
  text-decoration: none;
  border-bottom: rgb(255, 255, 255);
  font-size: 20px;
}
.boxContacto .boxFormContacto form textarea {
  width: 500px;
  height: 150px;
  margin: 10px 0px;
  padding: 15px 0px;
  border: none;
  border-radius: 5px;
  font-family: "inika", sans-serif;
  color: #000000;
  font-size: 20px;
}
.boxContacto .boxFormContacto form .btnEnviarForm {
  width: 208px;
  height: 30px;
  margin: 5px 0px 15px 0px;
  padding: 1px 15px;
  border: none;
  border-radius: 0px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  font-family: "inika", sans-serif;
  display: block;
  text-align: center;
}

.titlePromociones {
  text-align: center;
  font-family: "inika", sans-serif;
  font-size: 2.5em;
  font-weight: 300;
  margin: 0.625rem 0rem 0rem 0rem;
}

.promocionesHome h3 {
  text-align: left;
  font-family: "inika", sans-serif;
  font-size: 1.875rem;
  font-weight: 300;
  margin: 0rem 0rem 0.625rem 0.625rem;
  color: rgb(255, 255, 255);
}
.promocionesHome h3 a {
  color: rgb(255, 255, 255);
}

.titlePromocionesCat {
  text-align: center;
  font-family: "Inika", serif;
  font-size: 2.5em;
  font-weight: 300;
  margin: 0.625rem 0rem 0.625rem 0rem;
}

@media (max-width: 1005px) {
  .marcasHome {
    height: auto;
  }
  .marcasHome h2 {
    font-size: 2.1em;
  }
  .marcasHome div img {
    width: 150px;
  }
  .promocionesHome div article {
    width: 210px;
  }
  .promocionesHome div article .boxPromoHome h3 {
    font-size: 16px;
  }
  .promocionesHome div article .boxPromoHome p {
    font-size: 16px;
  }
  footer {
    height: auto;
  }
  footer section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.625rem;
    align-items: center;
    margin: 0rem 0.625rem;
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
    justify-content: center;
    justify-items: center;
  }
  footer h4 {
    font-size: 20px;
    font-weight: 300;
    margin-top: 0.625rem;
  }
  .titlePromociones {
    font-size: 30px;
  }
  .promocionesHome h3 {
    font-size: 25px;
  }
  .mainCatalogo .boxCatalogo {
    grid-template-columns: repeat(3, 1fr);
  }
  main .boxItemDetail .itemDetail div:nth-child(2) h2 {
    font-size: 18px;
  }
  main .boxItemDetail .itemDetail div:nth-child(2) h3 {
    font-size: 17px;
  }
  main .boxItemDetail .itemDetail div:nth-child(2) .detailProduct {
    width: 350px;
    height: 160px;
    margin: 0px 10px;
    padding: 1px;
    border: none;
    border-radius: 0px;
    font-size: 16px;
  }
  main .boxItemDetail .itemDetail div:nth-child(2) h4 {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  header nav .enlacesNav {
    padding: 5px;
  }
  header nav .enlacesNav li a {
    font-size: 15px;
  }
  .marcasHome h2 {
    font-size: 1.5em;
  }
  .marcasHome div img:nth-child(2) {
    display: none;
  }
  .marcasHome div i {
    font-size: 10px;
  }
  .promocionesHome h2 {
    font-size: 1.8em;
  }
  .promocionesHome div i {
    font-size: 16px;
  }
  .promocionesHome div article {
    width: 150px;
  }
  .promocionesHome div article .boxPromoHome h3 {
    font-size: 14px;
  }
  .promocionesHome div article .boxPromoHome p {
    font-size: 14px;
  }
  .mainCatalogo .boxCatalogo {
    grid-template-columns: repeat(2, 1fr);
  }
  footer {
    height: auto;
  }
  footer section {
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    justify-content: space-around;
    justify-items: center;
  }
  footer section .boxFooter, footer section .boxFooterActive {
    width: 50%;
    height: 9.375rem;
  }
  footer section .boxFooter svg, footer section .boxFooterActive svg {
    width: 50px;
    height: 50px;
  }
  footer section .boxFooter h3, footer section .boxFooterActive h3 {
    width: auto;
    font-size: 15px;
    white-space: nowrap;
  }
  footer section .boxFooter p, footer section .boxFooterActive p {
    text-align: center;
    width: auto;
    font-size: 15px;
    white-space: nowrap;
  }
  footer section .boxFooterActive {
    width: auto;
    height: 150px;
  }
  footer section .boxFooterActive svg {
    width: 60px;
    height: 60px;
  }
  footer section .boxFooterActive h3 {
    font-size: 15px;
    margin: 1rem 0rem 0rem 0rem;
  }
  footer h4 {
    font-size: 16px;
  }
  .titlePromociones {
    font-size: 25px;
  }
  .promocionesHome h3 {
    font-size: 20px;
  }
  main .boxItemDetail .itemDetail div:nth-child(1) figure img {
    object-fit: cover;
  }
}
@media (max-width: 550px) {
  header div {
    height: 4.375rem;
  }
  header div h1 {
    font-size: 1.375rem;
    text-align: left;
    width: auto;
  }
  header div div {
    display: none;
  }
  header nav .enlacesNav {
    display: none;
  }
  header nav .btn-nav {
    height: auto;
    display: block;
    position: absolute;
    top: 18px;
    right: 20px;
  }
  header nav .btn-nav button {
    background-color: transparent;
    border: none;
  }
  main section:first-child .marcasHome h2 {
    font-size: 1.2em;
  }
  main section:first-child .marcasHome div {
    gap: 0.1875rem;
  }
  main section:first-child .marcasHome div img {
    width: 80px;
  }
  main section:nth-child(3) article div .dArticle {
    display: none;
  }
  .mainCatalogo .boxCatalogo {
    gap: 10px;
  }
  .mainCatalogo .boxCatalogo a .card-container {
    width: 100%;
  }
  .mainCatalogo .boxCatalogo a .card-container figure img {
    object-fit: cover;
  }
  .mainCatalogo .boxCatalogo a .card-container div p {
    width: auto;
    font-size: 16px;
  }
  .mainCatalogo .boxCatalogo a .card-container div h4 {
    width: auto;
    font-size: 16px;
  }
  footer section .boxFooter h3, footer section .boxFooterActive h3 {
    font-size: 15px;
  }
  footer section .boxFooter p, footer section .boxFooterActive p {
    font-size: 15px;
  }
  .titlePromociones {
    font-size: 20px;
  }
  .promocionesHome h3 {
    font-size: 16px;
  }
  .dArticle {
    display: none;
  }
  .mainItemDetail {
    height: 910px;
  }
  .mainItemDetail .boxItemDetail .itemDetail {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 0px;
  }
  .mainItemDetail .boxItemDetail .itemDetail div:nth-child(1) figure img {
    object-fit: contain;
  }
  .mainItemDetail .boxItemDetail .itemDetail div:nth-child(2) h2 {
    transform: translateY(-10px);
    font-size: 17px;
  }
  .mainItemDetail .boxItemDetail .itemDetail div:nth-child(2) h3 {
    transform: translateY(-40px);
    height: 30px;
    font-size: 16px;
  }
  .mainItemDetail .boxItemDetail .itemDetail div:nth-child(2) .detailProduct {
    transform: translateY(-50px);
    width: 18.75rem;
    height: 100px;
  }
  .mainItemDetail .boxItemDetail .itemDetail div:nth-child(2) h4 {
    transform: translateY(10px);
  }
  .mainItemDetail .boxItemDetail .itemDetail div:nth-child(2) .btnItemDetail div:nth-child(1) {
    width: 100px;
  }
  .mainItemDetail .boxItemDetail .itemDetail div:nth-child(2) .btnItemDetail div:nth-child(1) button {
    padding: 0px;
  }
  .mainItemDetail .boxItemDetail .itemDetail div:nth-child(2) .btnItemDetail div:nth-child(2) {
    width: 130px;
  }
  .mainItemDetail .boxItemDetail .itemDetail div:nth-child(2) .btnItemDetail div:nth-child(2) button {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  header div h1 {
    font-size: 20px;
  }
  main section:first-child .marcasHome div {
    justify-content: space-evenly;
  }
  main section:first-child .marcasHome div img:nth-child(3) {
    display: none;
  }
  main section:nth-child(3) .promocionesHome div article {
    width: 140px;
  }
  main section:nth-child(3) .promocionesHome div article .boxPromoHome h3 {
    font-size: 14px;
  }
  main section:nth-child(3) .promocionesHome div article .boxPromoHome p {
    font-size: 14px;
  }
  footer section {
    grid-template-columns: repeat(1, 1fr);
  }
}
.card-container {
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.card-container:hover {
  border: 1px solid rgba(125, 5, 134, 0.756);
}
.card-container figure img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.card-container div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 10px;
  height: 2em;
}
.card-container div p {
  width: 4em;
  font-size: 18px;
  font-family: "roboto", serif;
  margin: 0px;
}
.card-container div h4 {
  width: 100%;
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  margin: 0px;
}

.boxItemDetail {
  width: 100%;
  margin: 10px 0px;
}

.itemDetail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 10px;
  height: 450px;
}
.itemDetail div:nth-child(1) {
  height: 450px;
}
.itemDetail div:nth-child(1) figure {
  height: 100%;
  width: 100%;
}
.itemDetail div:nth-child(1) figure img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.itemDetail div:nth-child(2) {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  background-color: #000000;
  height: 450px;
}
.itemDetail div:nth-child(2) h2 {
  width: auto;
  height: auto;
  margin: 0px;
  padding: 5px;
  border: none;
  border-radius: 0px;
  color: rgb(255, 255, 255);
  font-family: "Playfair Display SC", serif;
  text-align: center;
  font-size: 1.5em;
  transform: translateY(15px);
}
.itemDetail div:nth-child(2) h3 {
  width: auto;
  height: 40px;
  margin: 0px 10px;
  padding: 10px 0px;
  border: none;
  border-radius: 0px;
  color: rgb(255, 255, 255);
  font-family: "inika", sans-serif;
  font-size: 20px;
  align-self: flex-start;
  transform: translateY(10px);
}
.itemDetail div:nth-child(2) .detailProduct {
  width: 550px;
  height: 160px;
  margin: 0px 10px;
  padding: 1px;
  border: none;
  border-radius: 0px;
  color: rgb(255, 255, 255);
  text-align: center;
  align-content: center;
  font-size: 18px;
  font-family: "inika", sans-serif;
  transform: translateY(-10px);
}
.itemDetail div:nth-child(2) h4 {
  width: auto;
  height: auto;
  margin: 0px 10px;
  padding: 5px;
  border: none;
  border-radius: 0px;
  color: rgb(255, 255, 255);
  font-family: "Kameron", sans-serif;
  transform: translateY(-15px);
  font-size: 20px;
  text-align: center;
  align-self: center;
}
.itemDetail div:nth-child(2) .btnItemDetail {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 0px;
  transform: translateX(18px);
}
.itemDetail div:nth-child(2) .btnItemDetail div:nth-child(1) {
  width: 100px;
  height: 40px;
  margin: 10px;
  padding: 5px;
  border: none;
  border-radius: 0px;
  transform: translateX(10px);
  justify-self: center;
}
.itemDetail div:nth-child(2) .btnItemDetail div:nth-child(1) button {
  width: 30px;
  height: 30px;
  margin: 0px;
  padding: 0px;
  border: none;
  border-radius: 2px;
  text-align: center;
  align-content: center;
}
.itemDetail div:nth-child(2) .btnItemDetail div:nth-child(1) span {
  margin: 0px 5px;
  color: rgb(255, 255, 255);
  border: none;
  width: 10px;
  font-size: 20px;
  align-content: center;
}
.itemDetail div:nth-child(2) .btnItemDetail div:nth-child(2) {
  width: 200px;
  height: 40px;
  margin: 10px;
  padding: 5px;
  border: none;
  border-radius: 0px;
  justify-self: center;
}
.itemDetail div:nth-child(2) .btnItemDetail div:nth-child(2) button {
  width: auto;
  height: auto;
  margin: 0px;
  padding: 3px;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  font-family: "Kameron", sans-serif;
}
.itemDetail div:nth-child(2) .detailCantSend {
  width: auto;
  height: auto;
  margin: 0px 10px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  color: rgba(136, 136, 121, 0.7411764706);
  font-family: "inika", sans-serif;
  font-size: 15px;
}

/*# sourceMappingURL=style.css.map */
