footer{
    height: 20rem;
    margin-top: auto;
    background-color: rgb(0, 0, 0);
    h2{
        text-align: center;
        font-family: "Inika", serif;
        font-size: 2.5em;
        font-weight: 300;
        margin-top: .0625rem;
        margin-bottom: .625rem;
        color: white;
    }
    section{
        @include flex(row, nowrap, space-around, center, 10px);
        .boxFooter{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            svg{
                margin-top: .625rem;
                color: white;
            }
            h3{
                font-family: "Inika", serif;
                margin: .625rem .125rem;
                font-size: 1.5em;
                font-weight: 300;
                color: white;
                width: 100%;
            }
            p{
                font-family: "Inika", serif;
                font-size: 1.5em;
                font-weight: 300;
                margin: .625rem .125rem;
                color: white;
                width: 100%;
            }
        }
        .boxFooterActive{
            @extend .boxFooter;
            svg{
                margin-top: .625rem;
            }
            h3{
                font-family: "Inika", serif;
                margin: 2.1875rem .125rem;
                font-size: 1.5em;
                font-weight: 300;
                color: white;
            }
        }
    }
    h4{
        color: white;
        text-align: center;
        font-family: "Inika", serif;
        font-size: 1.875rem;
        font-weight: 300;
        margin-top: .625rem;
        padding: 10px;
    }
}