.titlePromociones{
    text-align: center;
    font-family: $tipografiaTercera;
    font-size: 2.5em;
    font-weight: 300;
    margin: .625rem 0rem 0rem 0rem;
}
.promocionesHome{
  h3{
    text-align: left;
    font-family: $tipografiaTercera;
    font-size: 1.875rem;
    font-weight: 300;
    margin: 0rem 0rem .625rem .625rem;
    color: map-get($colores, color2);
    a{
        color: map-get($colores, color2);
    }
 }
}