.boxContacto{
   @include grid(repeat(2, 1fr),1fr, 1rem);
    height: 100%;
    width: 100%;
    background-color: map-get($colores, color1);
    overflow: hidden;
    div{
        height: 100%; 
        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    .boxFormContacto{
        form{
            @include flex(column, nowrap, center, center, 5px);
            color: map-get($colores, color2);
            height: 100%; 
            margin-top: .9375rem;
            h2{
                width: 600px;
                text-align: center;
                color: map-get($colores, color2);
                font-size: 20px;
                font-family: $tipografiaCuarta;
            }
            input{
                @include boxmodel(500px, 40px,10px 0px, 15px 0px, none, 5px);
                font-family: $tipografiaTercera;
                color: map-get($colores, color1);
                text-decoration: none;
                border-bottom: map-get($colores, color2);
                font-size: 20px;   
            }
            textarea{
                @include boxmodel(500px, 150px,10px 0px, 15px 0px, none, 5px);
                font-family: $tipografiaTercera;
                color: map-get($colores, color1);
                font-size: 20px;  
            }
            .btnEnviarForm{
                @include boxmodel(208px, 30px,5px 0px 15px 0px , 1px 15px, none, 0px);
                background-color: map-get($colores, color2); ;
                color: map-get($colores, color1);
                font-family: $tipografiaTercera;
                display: block;
                text-align: center;
            }
        }
    }
    
}