.marcasHome{
    height: auto;
    width: 96%;
    margin-top: .625rem;
    background-color: #000000;
    border-radius: .75rem;
    h2{
        text-align: center;
        font-family: $tipografiaSegunda;
        font-size: 2.5em;
        font-weight: 300;
        margin: .625rem 0rem 0rem 0rem;
        color: white;
    }
    div{
        @include flex(row, nowrap, space-around, center, .625rem);
        i{
            font-size: 1.5em;
            color: #fffefe;
        }
        img{
            @include boxmodel(200px, auto, 0px, 10px, none, 0px);
            flex-grow: 1;
            object-fit: cover;
        }
    }
}
.bannerHome{
    height: auto;
    margin-top: .625rem;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.promocionesHome { 
    @include boxmodel(auto, auto, 10px, 10px, none, .75rem);
    background-color: map-get($colores, color1);
    h2 {
        text-align: center;
        font-family: $tipografiaSegunda;
        font-weight: 300;
        font-size: 2.5em;
        margin: .625rem 0rem;
        a {
            color: rgb(251, 249, 249);
        }
    }
    div {
        @include flex(row, nowrap, space-around, center, .625rem);
        margin-bottom:10px; 
        i {
            font-size: 1.5em;
            color: #ffffff;
        }
        article {
            width: 18.75rem;
            height: auto;
            figure {
                margin: 0; 
                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
            }
            .boxPromoHome {
                @include flex(row, nowrap, space-between, center, .625rem);
                position: relative;
                height: 1.25rem;
                padding: .625rem; 
                background-color: map-get($colores, color1); 
                h3 {
                    font-family: $tipografiaSegunda;
                    position: absolute;
                    left: 0%;
                    font-size: 1.5em; 
                    font-weight: 300;
                    margin: 0rem 0rem 0rem .125rem;
                    color: #fafafa;
                }
                p {
                    position: absolute;
                    right: 0%;
                    font-family: $tipografiaSegunda;
                    font-size: 1.5em;
                    font-weight: 300;
                    margin: 0rem .125rem 0rem 0rem;
                    color: #fafafa;
                }
            }
        }
    }
    
}