@media(max-width: 400px){
    header{
        div{
            h1{
                font-size: 20px;
            }
        }
    }
    main{
        section{
            &:first-child{
                .marcasHome{
                    div{
                        justify-content: space-evenly;
                        img{
                            &:nth-child(3){
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    footer{
        section{
            grid-template-columns: repeat(1,1fr);
        }
    }
    .mainContacto{
        .boxContacto{
            .boxFormContacto{
                form{
                    h2{
                        font-size: 1.125rem 
                    }
                    input{
                        font-size: 1rem;
                    }
                    textarea{
                        font-size: 1rem;
                    }
                    button{
                        font-size: 1rem;
                    }
                    
                }
            }
        }
    }
    .mainCart{
        .viewCart{ 
            article{
                h3{
                    margin-top: 2px;
                }
                p{
                    font-size: 1rem;
                }
            } 
        }
    }
    main{
        .boxCarru{
            h4{
                font-size: 1.2em;
            }
            .carruSlider{
                .carruFigure{
                    margin: 3px 6px;
                    width: 160px;
                    height: 160px; 
                }
            }
        }
    }
}