@media(max-width: 550px){
   header{ 
     div{
        height: 4.375rem;
         h1{
            font-size: 1.375rem;
            text-align: left;
            width: auto;
         }
         div{
             display: none;
         }
     }
     nav{
        .enlacesNav{
            display: none;
        }
        .btn-nav{
            height: auto;
            display: block;   
            position: absolute;
            top: 18px;
            right: 20px;
            button{
                background-color: transparent;
                border: none;
            }
        }
     }
   }
   main{
    section{
        &:first-child{
            .marcasHome{
                h2{
                    font-size: 1.2em;
                }
                div{
                    gap: .1875rem;
                    img{
                        width: 80px;
                    }
                }
                
            }
        }
        &:nth-child(3){
            article{
                div{
                    .dArticle{
                        display: none;
                    }
                }
            }
        }
    }
   }
   .mainCatalogo{
     .boxCatalogo{
        gap: 10px;
        a{
            .card-container{
                width: 100%;
                figure{
                    img{
                        object-fit: cover;
                    }
                }
                div{
                    p{
                        width: auto;
                        font-size: 16px;
                    }
                    h4{
                        width: auto;
                        font-size: 16px;
                    }
                }
               }
        }
     }
   }
   footer{
     section{
        .boxFooter{
            h3{
                font-size: 15px;
            }
            p{
                font-size: 15px;
            }
        }
     }
   }
   .titlePromociones{
    font-size: 20px;
   }
   .promocionesHome{
       h3{
         font-size: 16px;
       }
    }
    .dArticle{
        display: none;
    }
    .mainItemDetail{
        height: 910px;
        .boxItemDetail{
            .itemDetail{
                @include grid(1fr, 1fr 2fr, 0px);
                div:nth-child(1) {
                    figure{
                        img{
                            object-fit: contain;
                        }
                    }
                }
                div:nth-child(2) {
                    h2{
                        transform: translateY(-10px);
                        font-size: 17px;
                    }
                    h3{
                        transform: translateY(-40px);
                        height: 30px;
                        font-size: 16px;
                    }
                    .detailProduct{
                        transform: translateY(-50px);
                        width: 18.75rem;
                        height: 100px;   
                    }
                    h4{
                        transform: translateY(10px);
                    }
                    .btnItemDetail{
                        div:nth-child(1){
                            width: 100px;
                            button{
                                padding: 0px;
                            }
                        }
                        div:nth-child(2){
                            width: 130px;
                            button{
                                font-size: 16px;
                            }
                        }
                    }   
            }
        }
    }
  }
}